@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  background-color: #6883bc;
  color: #8a307f;
}

header {
  padding: 15px;
  background-color: #79a7d3;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin: 0px 35px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

header nav p {
  font-family: sans-serif;
  font-size: 14px;
  /* word-spacing: -7px; */
  margin: 0px 10px;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header select {
  width: 150px;
  height: 32px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #6883bc;
  outline: none;
  color: #fff;
}

.country-name {
  /* margin: 15px; */
  border-radius: 5px;
  padding: 5px;
}

.container {
  padding: 35px;
}

h2 {
  text-align: center;
}

.all-countries {
  display: flex;
  /* justify-content: center; */

  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.country {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 320px;
  height: 440px;
  background-color: #79a7d3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
}

.country img {
  border-radius: 5px;
  border: 2px solid #6883bc;
  width: 300px;
  height: 200px;
}

.country-details p {
  width: 300px;
  display: flex;
  justify-content: space-between;
  font-weight: 800;
}

.country-details span {
  display: flex;
  font-weight: 400;
}
